### Use this code to access quarterly financial data from Professor Leone's PostgreSql server.

In [32]:
#Connect to server.
import pandas as pd
import psycopg2.extras
conn = psycopg2.connect(host='leone.kellogg.northwestern.edu', port=5432, user='mbai435', password='accounting',
                              database='andywrds')
cursor = conn.cursor()
conn.autocommit=True

In [40]:
from sqlalchemy import create_engine

# Define the connection URL
DATABASE_URL = "postgresql+psycopg2://mbai435:accounting@leone.kellogg.northwestern.edu:5432/andywrds"

# Create an engine object
engine = create_engine(DATABASE_URL)

This next step is where you specify the variables you would like to extract from the quarterly data table.
The excel spreadsheet, compustat_items_qtr.xlsx, contains the list of items to be downloaded.  You can add or subtract from that list as need be.

In [18]:
#import the list of compustat items you would like to retrieve.
#Make sure you have the file "compustat_items_qtr.xlsx' on your computer.
#A complete list of variables can be obtained here: https://www.crsp.org/products/documentation/quarterly-data-industrial
#More detailed explanation of variables are here: https://www.etsu.edu/cbat/acct/documents/printed_data_guide.pdf
compustat_items = pd.read_excel('compustat_items_qtr.xlsx')
compustat_items.head()

,qcode,Item,acode,Unit,Column2,Available for Banks,Item Type,Column1
0,acoq,Current Assets - Other - Total,aco,Millions,NaN,No,Balance Sheet,NaN
1,actq,Current Assets - Total,act,Millions,NaN,No,Balance Sheet,NaN
2,aoq,Assets - Other - Annual,ao,Millions,NaN,Yes,Balance Sheet,NaN
3,apq,Accounts Payable - Trade,ap,Millions,NaN,No (Yes),Balance Sheet,NaN
4,atq,Assets - Total,at,Millions,NaN,Yes,Balance Sheet,NaN

# Tickers is the list of tickers for which you want to extract data.

In [20]:
tickers = ['ADBE', 'ASAN', 'AYX', 'BL', 'BLKB', 'CRM', 'DT', 'EGHT', 'EVBG', 'GWRE', 'HUBS', 'NEWR', 'NOW', 'OKTA', 'PD', 'PTC', 'QLYS', 'Q2', 'RNG', 'SMAR', 'SPLK', 'SPSC', 'VEEV', 'WK', 'WDAY', 'ZI', 'ZEN']

This is the query for extracting data.  You can change the dates or add additional variables.  Note that the data are ordered by gvkey (identifier) and datadate (quarter end).

In [46]:

sql_statement=f'''
    SELECT a.gvkey, a.conm, a.datadate, a.fqtr, a.fyearq,a.apdedateq,a.fdateq, a.pdateq, a.rdq,a.tic,b.sic, b.naics, b.gind,b.gsector, {','.join(compustat_items['qcode'])} FROM comp_na_daily_all.fundq a left join comp_na_daily_all.company b on a.gvkey=b.gvkey
    WHERE
    indfmt='INDL'
    AND datafmt='STD'
    AND popsrc='D'
    AND consol='C'
    AND '01/01/2018' <= datadate
    AND '12/31/2024' >= datadate
    AND tic IN {tuple(tickers)} order by a.gvkey, datadate '''
df=pd.read_sql(sql_statement,engine,parse_dates=['datadate','apdedateq','fdateq','pdateq','rdq'])






## Get stock price data
This step gets the stock price data on roughly the fifth trading day after quarterly earnings are announced.

In [48]:
secd_sql = f'''SELECT gvkey, ajexdi, cshoc, cshtrd, prccd, datadate FROM comp_na_daily_all.secd
                WHERE 
                '01/01/2018' <= datadate
                AND '12/31/2024' >= datadate
                AND tic IN {tuple(tickers)}
                order by gvkey, datadate'''
df_secd = pd.read_sql(secd_sql, engine,parse_dates=['datadate'])

In [44]:
df_secd

,gvkey,ajexdi,cshoc,cshtrd,prccd,datadate,return_date,bday
0,011745,1.0,37920000.0,256147.0,61.10,2018-01-02,NaN,2017-12-27 00:00:00
1,011745,1.0,37920000.0,221509.0,61.80,2018-01-03,NaN,2017-12-28 00:00:00
2,011745,1.0,37920000.0,204416.0,62.90,2018-01-04,NaN,2017-12-29 00:00:00
3,011745,1.0,37920000.0,234784.0,63.15,2018-01-05,NaN,2018-01-01 00:00:00
4,011745,1.0,37920000.0,219911.0,64.20,2018-01-08,2018-01-02,2018-01-02 00:00:00
...,...,...,...,...,...,...,...,...
41147,260893,1.0,51626000.0,152225.0,81.95,2024-10-03,2024-09-27,2024-09-27 00:00:00
41148,260893,1.0,51626000.0,146934.0,82.41,2024-10-04,2024-09-30,2024-09-30 00:00:00
41149,260893,1.0,51626000.0,160285.0,80.87,2024-10-07,2024-10-01,2024-10-01 00:00:00
41150,260893,1.0,51626000.0,113905.0,81.10,2024-10-08,2024-10-02,2024-10-02 00:00:00
41151,260893,1.0,51626000.0,99441.0,81.40,2024-10-09,2024-10-03,2024-10-03 00:00:00

In [45]:
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

%pip install pandas

In [49]:
from pandas.tseries.offsets import BDay
df_secd['return_date'] = df_secd.groupby('gvkey').datadate.shift(4)
df_secd['bday'] = df_secd.datadate - BDay(4)
df_secd['day_check'] = df_secd.return_date - df_secd.bday

Merge stock price data on to financial data.

In [50]:
fsa_return = df.dropna(subset=['rdq']).merge(df_secd.rename(columns={'datadate': 'price_date'}), left_on=['gvkey', 'rdq'], right_on=['gvkey', 'return_date'], how='left')

In [8]:
fsa_return.to_pickle("./fsa_return.pkl")

This next step gets lagged vales. This is either one quarter (shift 1) or four quarters (shift 4).

In [51]:
#get quarterly lagged values.
import numpy as np
dfm=fsa_return.copy()
dfm[['lctq','ivltq','dlcq','xintq','dlttq','invtq']]=dfm[['lctq','ivltq','dlcq','xintq','dlttq','invtq']].fillna(0)
dfm['invested_cap']=dfm.atq-(dfm.cheq+dfm.ivltq)-(dfm.lctq-dfm.dlcq)
dfm[['lag_capxy', 'lag_oancfy', 'lag_rectrq', 'lag_atq','lag_prccq','lag_cshoq','lag_ppentq','lag_invtq']]=dfm.groupby('gvkey')[['capxy', 'oancfy', 'rectrq', 'atq','prccq','cshoq','ppentq','invtq']].shift(1)
dfm[['lag4_atq','lag4_teqq','lag4_ppentq','lag4_invested_cap','lag4_rectrq','lag4_invtq']]=dfm.groupby('gvkey')[['atq','teqq','ppentq','invested_cap','rectrq','invtq']].shift(4)

In [66]:

def calculate_nopat(net_inc,int_exp,fyear):
    #This function applies the tax rate.  Since there was a big change in the corporate tax rate, we adjust accordingly.
    if fyear>2017:
        taxrate=.21
    else:
        taxrate=.35
    return net_inc+int_exp*(1-taxrate)

#some variables only get reported on a cumulative basis - eg. 6 months ended, etc.  This creates an amount for one quarter.
def convert_y_to_q(var, lag_var,fqtr):
    if fqtr==1:
        rvar=var
    else:
        rvar=var-lag_var
    return rvar
#compute net operating profit after taxes
dfm["nopat"] = dfm[["niq", "xintq", "fyearq"]].apply(lambda x : calculate_nopat(*x), axis=1)
#compute adjusted earnings per share.
dfm['adj_eps']=dfm['epsfxq']/dfm['ajexq']
#Compute quarterly values of capital expenditures and operating cash flow..
dfm['capxq']=dfm[['capxy','lag_capxy','fqtr']].apply(lambda x : convert_y_to_q(*x), axis=1)
dfm['oancfq']=dfm[['oancfy','lag_oancfy','fqtr']].apply(lambda x : convert_y_to_q(*x), axis=1)
dfm['fcf']=dfm['oancfq']-dfm['capxq']
#compute TTM numbers by adding up the most recent four quarters.
f=lambda x: x.rolling(4, min_periods=4).sum()
dfm[['rolling_sale','rolling_ni','rolling_eps','rolling_nopat','rolling_fcf','rolling_cogsq','rolling_ebit','rolling_interest','rolling_oancfq','rolling_ebitda', 'rolling_capx']]=dfm.groupby(['gvkey'])[['saleq','niq','adj_eps','nopat','fcf','cogsq','oiadpq','xintq','oancfq','oibdpq','capxq']].apply(f).reset_index(drop=True, level=0)
dfm['lag4_rolling_sale']=dfm.groupby('gvkey')['rolling_sale'].shift(4)
fsa=dfm.copy()

In [67]:
#Ratios
#Gross Margin_ttm
fsa['gross_margin_ttm']=(fsa.rolling_sale-fsa.rolling_cogsq)/fsa.rolling_sale
#Fixed Asset Turnover
fsa['ppe_to']=fsa.saleq*4/((fsa.ppentq+fsa.lag_ppentq)/2)
#Fixed Asset Turnover TTM
fsa['ppe_to_ttm']=fsa.rolling_sale/((fsa.ppentq+fsa.lag4_ppentq)/2)
#Current Ratio
fsa['current_ratio']=fsa.actq/fsa.lctq
#Operating Cash Flow Margin
fsa['opcash_margin_ttm']=fsa.rolling_oancfq/fsa.rolling_sale
#Times Interest Earned
fsa['times_ie_ttm']=fsa.rolling_ebit/fsa.rolling_interest
#Days Sales outstanding
fsa['dso']=((fsa.rectrq+fsa.lag_rectrq)/2)/(fsa.saleq/91.25)
#Days Sales outstanding TTM
fsa['dso_ttm']=((fsa.rectrq+fsa.lag4_rectrq)/2)/(fsa.rolling_sale/365)
#Asset turnover - Current Quarter
fsa['asset_to']=fsa.saleq*4/((fsa.atq+fsa.lag_atq)/2)
#Asset Turnover, trailing twelve montns (TTM)
fsa['asset_to_ttm']=fsa.rolling_sale/((fsa.atq+fsa.lag4_atq)/2)
#Return on Assets TTM
fsa['roa_ttm']=fsa.rolling_nopat/((fsa.atq+fsa.lag4_atq)/2)
#inventory turnover - current quarter
fsa['inventory_to']=fsa.cogsq*4/((fsa.invtq+fsa.lag_invtq)/2)
#Return on Equity TTM
fsa['roe_ttm']=fsa.rolling_ni/((fsa.teqq+fsa.lag4_teqq)/2)
#Debt to Equity
fsa['debt_equity']=(fsa.atq-fsa.teqq)/fsa.teqq
#Total Leverage
fsa['leverage']=(fsa.atq+fsa.lag4_atq)/(fsa.teqq+fsa.lag4_teqq)
#Profit Margin
fsa['profit_mgn_ttm']=fsa.rolling_nopat/fsa.rolling_sale
#Net Profit Margin
fsa['net_profit_mgn_ttm']=fsa.rolling_ni/fsa.rolling_sale
#Free Cash Flow - TTM
fsa['fcfmgn_ttm']=fsa.rolling_fcf/fsa.rolling_sale
#Revenue Growth - TTM
fsa['rev_growth_ttm']=(fsa.rolling_sale/fsa.lag4_rolling_sale)-1
#Days sales in Deferred Revenue
fsa['dsdefrev']=((fsa.drcq+fsa.drltq)/(fsa.saleq/91.25))
#Rule of 40
fsa['rule40']=fsa.fcfmgn_ttm+fsa.rev_growth_ttm
#Market Cap.
fsa['market_cap']=fsa.prccd*fsa.cshoc/1000000
#Market Cap to revenue (TTM)
fsa['ttm_rev_multiple']=fsa.market_cap/fsa.rolling_sale
#Price/Earnings - TTM
fsa['price_eps_ttm']=fsa.prccd/fsa.rolling_eps
#Change in market cap
#fsa['delmkt_cap']=((fsa.prccd*fsa.cshoc)/(fsa.lag_prccd*fsa.lag_cshoc))-1

In [68]:
#create a unique identifier for each company and quarter - tic_qtr
fsa['fqtr']=fsa['fqtr'].fillna(0)
fsa['fqtr']=fsa['fqtr'].astype(int)
fsa['sfyear']=fsa['fyearq'].astype(str)
fsa['sfqtr']=fsa['fqtr'].astype(str)
fsa['fyear_qtr']=fsa.sfyear+fsa.sfqtr
fsa['tic_qtr']=fsa['tic']+fsa['fyear_qtr'].astype(str)

In [69]:
#Enterprise Value to EBITDA
fsa['ev_to_ebitda']=(fsa.market_cap+fsa.dlttq+fsa.dlcq-fsa.cheq-fsa.ivltq)/fsa.rolling_ebitda
#Free Cash Flow to Enterprise Value
fsa['fcf_ttm_to_ev']=fsa.rolling_fcf/(fsa.market_cap+fsa.dlttq+fsa.dlcq-fsa.cheq-fsa.ivltq)
#alt fcf measure
fsa['fcf2_ttm_to_ev']=(fsa.rolling_nopat-(fsa.invested_cap-fsa.lag4_invested_cap))/(fsa.market_cap+fsa.dlttq+fsa.dlcq-fsa.cheq-fsa.ivltq)
#Average Invested Capital
fsa['avg_inv_cap']=(fsa.invested_cap+fsa.lag4_invested_cap)/2
#Return on Invested Capital
fsa['roic_ttm']=fsa.rolling_nopat/fsa.avg_inv_cap
#Assign a weighted average cost of capital.
wacc=.06
#Economic earnings per share
fsa['ec_eps_ttm']=((fsa.roic_ttm-wacc)*fsa.avg_inv_cap)/(fsa.cshoc/1000000)
#Price to economic book value per share
fsa['prc_to_ebv']=fsa.prccd/(((fsa.rolling_nopat/wacc)+fsa.cheq+fsa.ivltq-fsa.dlttq-fsa.dlcq)/(fsa.cshoc/1000000))

In [80]:
def score_fcf_yield(var):
    if var < -.05:
        rvar=5
    elif var<-.01:
        rvar=4
    elif var<.03:
        rvar=3
    elif var<.10:
        rvar=2
    else:
        rvar=1
    return rvar

def score_price_ebv(var):
    rvar=np.NaN
    if 0 < var < 1.1:
        rvar=1
    if  1.1 < var < 1.6:
        rvar=2
    if  1.6 < var < 2.4:
        rvar=3
    if (2.4< var < 3.5) or var < -1:
        rvar=4
    if var > 3.5 or (0 > var > -1):
        rvar=5
    return rvar
fsa.drop(fsa[fsa['fyearq'] < 2012].index, inplace=True)
#fsa.drop(fsa[fsa['fyear_qtr'].isin(["20231", "20232","20120"])].index, inplace=True)
#fsa['score_fcf_yield']=fsa['fcf_ttm_to_ev'].apply(lambda x : convert_y_to_q(x), axis=1)
fsa['score_fcf_yield']=fsa['fcf_ttm_to_ev'].apply(lambda x : score_fcf_yield(x))
fsa['score_prc_ebv']=fsa['prc_to_ebv'].apply(lambda x : score_price_ebv(x))

#Rank ROIC TTM
def apply_qcut(group):
    if group.notna().sum() >= 5:
        return pd.qcut(group, 5, labels=range(5, 0, -1), duplicates='drop')
    else:
        return pd.Series([np.nan] * len(group), index=group.index)
fsa['score_roic_ttm'] = fsa.groupby('fyear_qtr').roic_ttm.transform(apply_qcut)    
fsa['score_roic_ttm'] = pd.to_numeric(fsa.score_roic_ttm)
#Create overall score
fsa['overall_score']=fsa[['score_roic_ttm', 'score_prc_ebv', 'score_fcf_yield']].mean(axis='columns')

In [82]:
#output dataset to an excel file.
saas_fsa=fsa[['tic_qtr','gvkey','tic','conm','sic','naics', 'gind','gsector', 'datadate','fqtr','fyearq','fyear_qtr','apdedateq', 'rdq', 'dso', 'dsdefrev', 'asset_to', 'asset_to_ttm', 'roa_ttm', 'roe_ttm', 'debt_equity', 'leverage','net_profit_mgn_ttm', 'profit_mgn_ttm', 'fcfmgn_ttm', 'rule40', 'rev_growth_ttm', 'market_cap','ttm_rev_multiple', 'price_eps_ttm', 'atq','saleq','teqq','ajexq','drcq','drltq','gdwlq','intanoq','ppentq','rectrq','cogsq','niq','spiq','capxy','prccq','xintq','rolling_nopat','nopat','gross_margin_ttm','ppe_to','current_ratio','opcash_margin_ttm','times_ie_ttm', 'rolling_sale','rolling_eps','prccd','inventory_to','rolling_capx','score_roic_ttm', 'score_prc_ebv', 'score_fcf_yield', 'overall_score']]
saas_fsa.to_excel('Saas_data_fsa_class.xlsx')

    tic fyear_qtr  fyearq  fqtr   tic
1  QLYS     20122    2012     2  QLYS
2  QLYS     20123    2012     3  QLYS
3  QLYS     20124    2012     4  QLYS
4  QLYS     20131    2013     1  QLYS
5  QLYS     20132    2013     2  QLYS